# Byte-compiled files
*.pyc
*__pycache__/

# Virtual environment
.env/
venv/
dd4ml-venv/

# PyTorch checkpoint files
*.pth
*.pt

# Results and logs
tests/wandb_sweep/wandb/
tests/wandb_sweep/sweep_id.txt
*.csv

# IDE files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
*.gz
/tests/rawdata/cifar-10-batches-py
/src/rawdata
/tests/rawdata
/tests/wandb/wandb
/tests/wandb
/wandb
tests/log_files/
/rawdata
/myvenv
/data
/tests/data
/src/datasets
/src/models
/src/optimizers/
/src/utility
/tests/pinns
