# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
.env/
venv/

# PyTorch checkpoint files
*.pth
*.pt

# Results and logs
tests/wandb_sweep/
*.csv

# IDE files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
*.gz
/tests/rawdata/cifar-10-batches-py
/src/rawdata
